body{
    background-color: #07010D;
    color: #8e6015;
    font-size: 25px;
}
a{
    color: black;
    text-underline: none;
    text-decoration: none;
}
header {
    font-size: 30px;
    background-color: #8e6015;
    color: black;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.puslapis{
    height: 800px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;

}
header ul {
    list-style: none;
    color: black;

}

header li {
    float: left;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    color: black;
    text-decoration: none;

}
h2{
    position: relative;
    top: 250px;
    left: 800px;
    font-size: 50px;
}
footer {
    margin-top: 10px;
    background-color: #8e6015;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #07010D;
}
.kontaktai{
    position: relative;
    left: 800px;
    top: -200px;
}

.forma{
    position: relative;

    top: -100px;
}
h3{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}